.main-section {
  margin-bottom: 0;
  padding-bottom: 0;
}

.main-text {
  padding: 20px 10px;
}

.about {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.page-footer {
  height: 50px;
  color: #fff;
  background-color: #000;
}

.footer-text {
  padding-top: 10px;
  top: 50%;
}
