<html>
<head></head>
<body>
  <h1>The Coding Club About Pages</h1>
  <ul>
  {% for folder in folders %}
    <li><a href='pages/{{folder.folderName}}/index.html'>{{ folder.name }}</a></li>
  {% endfor %}
  </ul>
</body>
</html>
