body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
  background-color: #EEE;
  padding: 0.5em 2em;
  color: #000040;
}

html {
  background-image: url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  border-bottom: #CCC solid 1px;
}