body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: #EEE;
    padding: 0.5em 2em;
    color: #000040;
}

html {
    background-image: url("https://www.roughguides.com/wp-content/uploads/2012/10/42-26944993-1680x1050.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    border-bottom: #CCC solid 1px;
}

img {
    width: 70%;
}
