body {
  margin: 60px;
}

.portfolio-wrap {
  width: 50%;
  margin: auto;
}

.portfolio-title {
  text-align: center;
}

.profile-img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}
