*{
  font-family: Arial,sans-serif;
  padding:0;
  margin:0;
}
.header{
  background: #f3f3f3;
  border-bottom:  solid 1em #c4c4c4;
}
.name{
  background: #c4c4c4;
  display:inline-block;
  padding: 5px 10px;
  margin: 15px 20px;
}
.nav-bar, .main-nav, .main-nav li{
  display:inline-block;
  float:right;
  margin-right: 30px;
  margin: 15px 20px;
}
